<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>All your files uploaded to google sheet successfully</h1>
{%if not url %}
<h1>Enter your gmail id to share with you</h1>
<form method="post">
    {% csrf_token %}
    <input type="email" name="email">
    <input type="submit" value="submit">
</form>
{% endif %}
{% for i in url %}
 <a href='{{i}}'>{{i}}</a>
{% endfor %}
</body>
</html>